body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

h1{
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

.container{
    height: 460px;
    width: 800px;
    overflow: hidden;
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);

}

.imagem img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
}

.imagens{
    display: flex;
    height: 100%;
    width: 800%;
}

input{
    display: none;
}

.bar{
    background-color: #000000;
    width: 30px;
    height: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.bar:hover{
    background-color: #808080;

}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translate(-50%);
}

.imagem{
    width: 16.66666666666667%;
    transition: all 1s ease-in-out;
}

#imagem1:checked ~ .img1{
   margin: 0;  

}
#imagem2:checked ~ .img1{
    margin-left: -16.66666666666667%;

}
#imagem3:checked ~ .img1{
    margin-left: -33.3333333333333%;

}
#imagem4:checked ~ .img1{
    margin-left: -50%;

}
#imagem5:checked ~ .img1{
    margin-left: -66.6666666666667%;

}
#imagem6:checked ~ .img1{
    margin-left: -83.3333333333333%;

}
#imagem7:checked ~ .img1{
    margin-left: -100%;

}
#imagem8:checked ~ .img1{
     margin-left: -116.666666666666%;
}

footer {
    padding-left: 2rem;
}